.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(auto-fit, 213px);
  grid-auto-rows: 213px;
  padding: 0 48px 12px 48px;
  margin: 0;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 1025px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 225px);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
  }
}

@media (max-width: 770px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: repeat(auto-fit, 264px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0 24px 15px 24px;
  }
}

@media (max-width: 360px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-template-rows: repeat(auto-fit, 216px);
    grid-column-gap: 12px;
    padding: 0 16px 14px 16px;
  }
}