.travel__image-container {
  max-width: 984px;
  height: 615px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 1025px) {
  .travel__image-container {
    height: 580px;
    max-width: 100%;
    width: 928px;
  }
}

@media (max-width: 769px) {
  .travel__image-container {
    height: 480px;
    max-width: 100%;
    width: 768px;
  }
}

@media (max-width: 680px) {
  .travel__image-container {
    height: 400px;
  }
}

@media (max-width: 614px) {
  .travel__image-container {
    height: 380px;
  }
}

@media (max-width: 548px) {
  .travel__image-container {
    height: 360px;
  }
}

@media (max-width: 482px) {
  .travel__image-container {
    height: 340px;
  }
}

@media (max-width: 416px) {
  .travel__image-container {
    height: 300px;
  }
}

@media (max-width: 350px) {
  .travel__image-container {
    height: 250px;
  }
}

@media (max-width: 340px) {
  .travel__image-container {
    height: 200px;
    max-width: 100%;
    width: 320px;
  }
}