.travel__subtitle {
  max-width: 640px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
	padding: 0 16px;
  text-align: center;
}

@media (max-width: 706px) {
  .travel__subtitle {
    font-size: calc(16px + 14 * (100vw / 1280));
  }
}

@media (max-width: 461px) {
  .travel__subtitle {
    font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 26px;
  }
}

@media (max-width: 321px) {
  .travel__subtitle {
    font-size: 16px;
		line-height: 20px;
  }
}