.place__paragraphs {
  width: 484px;
}

@media (max-width: 1025px) {
  .place__paragraphs {
    width: 456px;
  }
}

@media (max-width: 960px) {
  .place__paragraphs {
    width: 400px;
  }
}

@media (max-width: 860px) {
  .place__paragraphs {
    width: 352px;
  }
}

@media (max-width: 767px) {
  .place__paragraphs {
    width: 340px;
  }
}

@media (max-width: 340px) {
  .place__paragraphs {
    width: 288px;
  }
}