.intro__list {
	max-width: 690px;
	margin: 33px 0 0 0;
	padding: 0;
}

@media (max-width: 974px) {
  .intro__list {
    margin: 33px 24px 0 24px;
  }
}

@media (max-width: 321px) {
  .intro__list {
    margin: 34px 16px 0 16px;
  }
}