.cover__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto 32px auto;
  max-width: 560px;
  text-align: center;
  position: relative;
  z-index: 12;
}

@media (max-width: 615px) {
  .cover__title {
    font-size: 52px;
    line-height: 56px;
  }
}

@media (max-width: 400px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}