.cover__background-container {
  position: relative;
  max-width: 100%;
	width: 1184px;
  min-height: 740px;
  padding-top: 245px;
  box-sizing: border-box;
  z-index: 8;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	margin: 92px auto 0 auto;
	background-image: url(../../../images/__background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 1025px) {
  .cover__background-container {
    min-height: 640px;
    padding-top: 195px;
  }
}

@media (max-width: 769px) {
  .cover__background-container {
    min-height: 480px;
    padding-top: 115px;
    margin: 90px auto 0 auto;
  }
}

@media (max-width: 517px) {
  .cover__background-container {
    min-height: 440px;
  }
}

@media (max-width: 400px) {
  .cover__background-container {
    min-height: 340px;
  }
}

@media (max-width: 359px) {
  .cover__background-container {
    min-height: 200px;
    padding-top: 33px;
    margin: 66px auto 0 auto;
  }
}

.cover__background-container:hover .cover__overlay {
	opacity: 0.8;
}