.header__lang-links {
  display: flex;
  column-gap: 18px;
  margin: 46px 48px 0 0;
}

@media (max-width: 769px) {
  .header__lang-links {
    margin: 46px 24px 0 0;
  }
}

@media (max-width: 321px) {
  .header__lang-links {
    margin: 30px 16px 0 0;
    font-size: 18px;
    line-height: 20;
  }
}